body {
  background-color: #eee !important;
  font-size: 14px;
}
 
.mytext-padding {
  margin: 10px;
}
  

#content {
 background-color: #eee !important;
}

form .submit .btn-primary{
  background-color: #333 !important;
  border: 1px #111;
}

.btn-registered { 
  background-color: #333 !important;
  padding: 7px 15px;
  color: white;
  font-weight: 550;
  border-radius: 5px !important;
}

.btn:hover{
  text-decoration: none;
  color: #ddd;
}

.signin-btn {
  width: 100% !important; 
}

form div {
  margin-bottom: 0 !important;
}

h2 {
  background-color: #eee;
}
 
form .submit input[type=submit]:hover #float-right {
   float:right;
 }

 .message-container {
    padding: 20px;
    background-color: #fff;
    margin: 0px 0px 20px 0px; 
    border-radius : 5px;
 }

 .message-container:hover {
  box-shadow:#ddd 2px 5px 3px 1px;
}